## Polymorphism
Ability of a function to take multiple forms.

## Length function

In [1]:
emplist = ["Raman","Thaman",90,87.5,760000]
emplist2 = ("Raman","Thaman",90,87.5,760000)
welcome = "Hi Welcome to this class."
empdata ={
    "ids":[23,45,67],
    "names":["Sindhu","Bindhu","Nandu"]
}

In [ ]:
# returns length of elements present in the list
len(emplist)

5

In [ ]:
# returns length of elements present in the tuple
len(emplist2)

5

In [ ]:
# returns length of characters present in the string
len(welcome)

25

In [ ]:
# returns length of keys present in the dictionary
len(empdata)

2

In [6]:
empdata.keys()

dict_keys(['ids', 'names'])

## + operator

In [ ]:
# returns addition of 2 numbers provided
56 + 90

146

In [8]:
# returns addition of 2 numbers provided
90.85 + 80.15

171.0

In [9]:
# returns concatenation of 2 strings
"Raman" + "Thaman"

'RamanThaman'

In [10]:
"Raman" + " " + "Thaman"

'Raman Thaman'

In [11]:
# returns merged lists
[3,4,5] + [7,8,9]

[3, 4, 5, 7, 8, 9]

## User defined polymorphism scenarios

In [12]:
class India:
    def capital(self):
        print("Delhi is the capital of India")
    
    def language(self):
        print("Hindi and English are widely spoken languages in India")

In [14]:
class USA:
    def capital(self):
        print("Washington D.C is the capital of USA")
    
    def language(self):
        print("English is the widely spoken languages in USA")

In [15]:
person1 = India()
person2 = USA()

In [16]:
person1.capital()

Delhi is the capital of India

In [17]:
person2.capital()

Washington D.C is the capital of USA

In [18]:
person1.language()

Hindi and English are widely spoken languages in India

In [19]:
person2.language()

English is the widely spoken languages in USA

## Data Analysis - Scenario
    Read the dataset
    perform basic data quality checks-missing data/duplicated data
    Data cleaning
    Data Visualiation - Seaborn,matplolib and pandas

In [22]:
import pandas as pd
path = r"C:\Users\admin\Documents\Sindhura\LMS Basic Python and DA\datasets\Cars93.csv"
df = pd.read_csv(path,na_values=["NA",""],keep_default_na=False)
df.head()

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [24]:
s = df.isna().sum()
s[s>0]

AirBags            4
Rear.seat.room     2
Luggage.room      11
dtype: int64

In [25]:
# Separate cat and con features
cat = list(df.columns[df.dtypes=="object"])
con =  list(df.columns[df.dtypes!="object"])

## Data cleaning

In [27]:
df["Luggage.room"].mean()

np.float64(13.890243902439025)

In [ ]:
df["AirBags"].mode()

0    Driver only
Name: AirBags, dtype: object

In [31]:
df["AirBags"].mode()[0]

'Driver only'

In [35]:
class handle_missing_data_con:
    # create instance attributes
    def __init__(self,data):
        self.data = data
    
    # create a method that handles missing data for continuous features
    def handle_data(self):
        mn = self.data.mean()
        self.data = self.data.fillna(mn)
        print("Missing values are handled for continuous features")

In [36]:
class handle_missing_data_cat:
    # create instance attributes
    def __init__(self,data):
        self.data = data

    def handle_data(self):
        mode = self.data.mode()[0]
        self.data = self.data.fillna(mode) 
        print("Missing values are handled for Categrical features")

In [33]:
cat

['Manufacturer',
 'Model',
 'Type',
 'AirBags',
 'DriveTrain',
 'Cylinders',
 'Man.trans.avail',
 'Origin',
 'Make']

In [34]:
con

['id',
 'Min.Price',
 'Price',
 'Max.Price',
 'MPG.city',
 'MPG.highway',
 'EngineSize',
 'Horsepower',
 'RPM',
 'Rev.per.mile',
 'Fuel.tank.capacity',
 'Passengers',
 'Length',
 'Wheelbase',
 'Width',
 'Turn.circle',
 'Rear.seat.room',
 'Luggage.room',
 'Weight']

In [37]:
insta1 = handle_missing_data_con(df["Rear.seat.room"])

In [38]:
insta1.handle_data()

Missing values are handled for continuous features

In [41]:
con_missing = ["Luggage.room","Rear.seat.room"]

In [43]:
for i in con_missing:
    inst= handle_missing_data_con(df[i])
    inst.handle_data()

Missing values are handled for continuous features
Missing values are handled for continuous features

In [44]:
inst2 = handle_missing_data_cat(df["AirBags"])

In [45]:
inst2.handle_data()

Missing values are handled for Categrical features